apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - ../../base
  - targetgroupbindings.yaml

images:
  - name: user-app
    newName: ${ECR_USER}
    newTag: latest
  - name: product-app
    newName: ${ECR_PRODUCT}
    newTag: latest
  - name: stress-app
    newName: ${ECR_STRESS}
    newTag: latest

configMapGenerator:
  - name: app-config
    envs:
      - config.env

secretGenerator:
  - name: app-secret
    envs:
      - secret.env

generatorOptions:
  disableNameSuffixHash: true

patches:
  - path: sa-patch.yaml
  - path: stress-scheduling.yaml
